In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
import numpy as np

import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/gb_abtesting_sem9_res.xlsx')
data.head()

       id     time  con_treat      page  converted
0  851104  11:48.6    control  old_page          0
1  804228  01:45.2    control  old_page          0
2  661590  55:06.2  treatment  new_page          0
3  853541  28:03.1  treatment  new_page          0
4  864975  52:26.2    control  old_page          1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         294478 non-null  int64
 1   time       294478 non-null  object
 2   con_treat  294478 non-null  object
 3   page       294478 non-null  object
 4   converted  294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [ ]:
data.describe()

                  id      converted
count  294478.000000  294478.000000
mean   787974.124733       0.119659
std     91210.823776       0.324563
min    630000.000000       0.000000
25%    709032.250000       0.000000
50%    787933.500000       0.000000
75%    866911.750000       0.000000
max    945999.000000       1.000000

In [ ]:
data.con_treat.value_counts()

treatment    147276
control      147202
Name: con_treat, dtype: int64

In [ ]:
data.id.nunique()

290584

Почистим данные

In [ ]:
data_clean = data[(data['con_treat'] == 'control')&(data['page'] == 'old_page')|(data['con_treat'] == 'treatment')&(data['page'] == 'new_page')]
data_clean.shape

(290585, 5)

In [ ]:
data_clean.con_treat.value_counts()

treatment    145311
control      145274
Name: con_treat, dtype: int64

In [ ]:
n_cont = data_clean[data_clean['con_treat'] == 'control'].shape[0]
n_test = data_clean[data_clean['con_treat'] == 'treatment'].shape[0]

suc_cont = data_clean[data_clean['con_treat'] == 'control'].converted.sum()
suc_test = data_clean[data_clean['con_treat'] == 'treatment'].converted.sum()

print(n_cont, n_test)
print(suc_cont, suc_test)

145274 145311
17489 17264

Проверка с помощью хи-квадрата

In [ ]:
from statsmodels.stats import proportion

In [ ]:
chisq, pvalue, table = proportion.proportions_chisquare(np.array([suc_cont, suc_test]),
                                                   np.array([n_cont, n_test]))

print(f'Results are chisq = {round(chisq, 3)}, pvalue ={round(pvalue, 3)}')

Results are chisq = 1.72, pvalue =0.19

Проверка с помощью z-критерия для долей

In [ ]:
z_score, z_pvalue = proportion.proportions_ztest(np.array([suc_cont, suc_test]),
                                                   np.array([n_cont, n_test]))

print(f'Results are z_score = {round(z_score, 3)}, pvalue ={round(z_pvalue, 3)}')

Results are z_score = 1.312, pvalue =0.19